
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Dossier spécifique pour les espèces, accessible par tous pour la lecture
    match /species/{allPaths=**} {
      allow read: if true;
      // Autoriser l'écriture pour tout utilisateur authentifié (anonyme ou non)
      allow write: if request.auth != null;
    }
    
    // Règle par défaut pour le reste du stockage
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
